<table
  class= "table table-noborder stock-table">
  <tr>
    <th></th>
    <th *ngFor="let time of lineChartLabels; let j=index">
      {{time}}
    </th>
  </tr>
  <tr *ngFor="let stock of lineChartData; let j = index">
    <td class = "left labelNames">{{stock.label}}</td>
    <td *ngFor="let datum of lineChartLabels; let i = index">
      <div *ngIf="j < 4">{{stock.data[i] | number: '3.2-2'}}</div>
      <div *ngIf="j === 4">{{stock.data[i] | number: '.2-2' }}</div>
    </td>
  </tr>
</table>
