<input 
  type= "text"
  id= "formFields_2"
  [(ngModel)]= "stockSymbol"
  (keyUp.enter)= "getData(stockSymbol)"
  placeholder="Stock Symbol ex: AAPL"
  size= "45">
<button (click) = "getData(stockSymbol)">Submit</button>
  <div *ngIf = "loader">
    <span class="spinner spinner-inline">Loading...</span>
    <span>Loading...</span>
  </div>
  
  <!--I would like to make the bottom items into a seperate view.-->
<div  class="row"
class = "stock-data"
*ngIf = "stockArray">
<div class="col-md-6 stock-chart">
 <app-chart
    [stockArray] = "stockArray"
    [timesArray] = "timesArray">
  </app-chart>
</div>
 <div class="col-md-6 stock-chart">  
  <app-table
    [stockArray] = "stockArray"
    [timesArray] = "timesArray">
  </app-table>
  
  </div>
</div>