<input 
  type= "text"
  id= "formFields_2"
  [(ngModel)]= "stockSymbol"
  (keyUp.enter)= "getData(stockSymbol)"
  placeholder="Stock Symbol ex: AAPL"
  size= "45">
<button (click) = "getData(stockSymbol)">Submit</button>
  <div *ngIf = "loader">
    <span class="spinner spinner-inline">Loading...</span>
    <span>Loading...</span>
  </div>
  
<div 
class = "stock-data"
*ngIf = "stockArray">
  <app-chart
    [stockArray] = "stockArray"
    [timesArray] = "timesArray">
  </app-chart>
  <app-table
    [stockArray] = "stockArray"
    [timesArray] = "timesArray">
  </app-table>
</div>