<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">StockSleuth</span>
      </a>
    </div>
      <div class="header-nav" [clr-nav-level]="1">
        <a class="nav-link" href="#" [routerLink]="['/search']" routerLinkActive="active"><span class="nav-text">Search</span></a>
      </div>
      
       <div class="header-actions">
         <div *ngIf= "!isLoggedIn">
           <a class="nav-link" href="#" [routerLink]="['/register']" routerLinkActive="active"><span class="nav-text">Register</span></a>
           <a class="nav-link" href="#" [routerLink]="['/login']" routerLinkActive="active"><span class="nav-text">Log in</span></a>
         </div>
           <clr-dropdown *ngIf= "isLoggedIn">
             <button class="nav-icon" clrDropdownTrigger>
               <clr-icon shape="user"></clr-icon>
               <clr-icon shape="caret down"></clr-icon>
             </button>
               <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                 <a href="#" [routerLink]="['/portfolio']" routerLinkActive="active" clrDropdownItem>My Portfolio</a>
                 <a href="#" (click)= "logOut()" clrDropdownItem>Log out</a>
               </clr-dropdown-menu>
           </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>

