<div class="column">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="200" height="200"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
<h5><button (click) = "viewData()">View Data!</button></h5>

  <div class="col-xs-12 col-md-12 col-lg-6 col-xl-4">
    <table class= "table">
      <tr>
        <th></th>
        <th *ngFor="let time of lineChartLabels; let j=index">
          {{time | date:"short"}}
        </th>
      </tr>
      <tr *ngFor="let stock of lineChartData;">
        <th>{{stock.label}}</th>
        <td *ngFor="let datum of lineChartLabels; let i = index">
          {{stock.data[i]}}
        </td>
      </tr>
    </table>
  </div>
</div>