<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="200" height="200"
                [datasets]= "stockArray"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

<table class= "table">
  <thead>
  	<tr>
  	  <th></th>
  		<th *ngFor = "let label of lineChartLabels;">{{label}}</th>
  	</tr>
	</thead>
	
	<tr *ngFor = "let stock of stockArray">
		<th>{{stock.label}}</th>
		<td *ngFor = "let l of lineChartLabels; let j = index">{{stock["data"][j]}}</td>
	</tr>
	
</table>