<div class="column">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="200" height="200"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
    <table class= "table table-noborder">
      <tr>
        <th></th>
        <th *ngFor="let time of lineChartLabels; let j=index">
          {{time | date:"medium"}}
        </th>
      </tr>
      <tr *ngFor="let stock of lineChartData; let j = index">
        <td class = "left labelNames">{{stock.label}}</td>
        <td *ngFor="let datum of lineChartLabels; let i = index">
          <div *ngIf="j < 4">{{stock.data[i] | number: '3.2-2'}}</div>
          <div *ngIf="j === 4">{{stock.data[i] | number: '.2-2' }}</div>
        </td>
      </tr>
    </table>
</div>