<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Sign up for</h3>
            TickerTracker
            <h5 class="hint">Enter a new User ID and Password</h5>
        </label>
        <div class="login-group">
            <p>Enter a User ID:</p>
            <input class="username" type="text" id="login_username">
            <p>Enter a Password:</p>
            <input class="password" type="password" id="login_password">
            <button type="submit" class="btn btn-primary">NEXT</button>
        </div>
    </form>
</div>
