<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Sign up for</h3>
            StockSleuth<span class = "trdemark">&trade;</span>
            <h5 class="hint">Enter Personal Information</h5>
        </label>
        <div class="login-group">
            <input type="text" 
            [(ngModel)] = "user.firstName"
            [ngModelOptions]="{standalone:true}"
            placeholder="first name">
            <br>
            <input type="text" 
            [(ngModel)] = "user.lastName"
            [ngModelOptions]="{standalone:true}"
            placeholder="last name">
            <br>
            <input type="text" 
            [(ngModel)] = "user.email"
            [ngModelOptions]="{standalone:true}"
            placeholder="email">
            <br>
            <input type="text" 
            [(ngModel)] = "user.username"
            [ngModelOptions]="{standalone:true}"
            placeholder="username">
            <br>
            <input type="password" 
            [(ngModel)] = "user.password"
            [ngModelOptions]="{standalone:true}"
            placeholder="password">
            <br>
            <input type="text" 
            [(ngModel)] = "user.realm"
            [ngModelOptions]="{standalone:true}"
            placeholder="country">
            
            <button 
                type="submit" 
                (click)= "registerSubmit()" 
                class="btn btn-primary">Register
            </button>
            <div *ngIf = "loader">
                <span class="spinner spinner-inline">Loading...</span>
                <span>Loading...</span>
            </div>
        </div>
    </form>
</div>

